# web application files
/web-app/WEB-INF/classes
/classes

# logs
/stacktrace.log
/test/reports
/logs

# project release file
/*.war

# "temporary" build files
/target
/build
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
.asscache

# Intellij
.idea/
*.iml
*.iws
out/
